.w{
    width: 100%;
    margin: 0 auto;
}
.h{
    width: 450px;
    margin: 0 auto;
}
.hh{
    width: 200px;
    margin: 0 auto;
}
.img{
    width: 950px;
    margin: 0 auto;
}
.img1{
    width: 1200px;
    margin: 0 auto;
}
.head{
    height: 70px;
    width: 100%;
    line-height: 70px;
    position: absolute;
    background-color: rgba(58, 57, 57, 0.1);
    z-index: 10;
}
.foot{
    height: 800px;
    margin-top: 60px;
    padding-top: 130px;
    background-color: #444444;
}
.foot .h h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.foot .h p{
    color: rgb(160, 160, 160);
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.foot .img1 .text{
    float: left;
    margin-right:150px;
    width: 300px;
    padding-top: 200px;
    text-align: center;
}
h4{
    color: white;
    font-size: 15px;
}
.text .hh p{
    font-size: 10px;
    color: white;
}
.foot .img1  .text:last-of-type{
    margin-right: 0px;
}
.end{
    height: 60px;
    line-height: 60px;
    background-color: #303030;
}
.end .img p{
    font-size: 20px;
    text-align: center;
    color: white;
}