.log img{
    width: 100%;
    height: 100%;
}
.log{
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 60px;
}
.dh_R{
    float: right;
}
.dh_R ul li{
    float: left;
    width: 80px;
    /* background-color: pink; */
    margin-right: 2px;
    text-align: center;
}
.dh_R ul li a:hover{
    transition: all .5s linear;
    font-size: 20px;
    color: rgb(175, 96, 22);
}
.body{
  width:100%;
  overflow-x: hidden;
  margin: 0 auto;
}
.lbt{
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   z-index: 0;
}
.lbt .lbtp{
    position: absolute;
    width: 100%;
    transition: all .9s;
}
.lbt .lbtp img{
    width: 100%;
    height: 100vh;
}
.lbt .top{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  z-index: 1;
  right: 30px;
  top: 400px;
  border: .5px solid white;
}
.lbt .bottom{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    top: 460px;
    right: 30px;
    border: .5px solid white;
}
.top span{
    font-family: 'icomoon';
}
.bottom span{
    font-family: 'icomoon';
}
.alzs{
    margin-top: 100px;
}
.alzs .h h1{
    text-align: center;
    font-size: 60px;
}
.alzs .h p{
    color: rgb(189, 191, 192);
    text-align: center;
    font-size: 40px;
}
.look{
    margin-top: 50px;
}
.look .h p{
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: #515151;
}
.xgzs{
    margin-top: 10px;
    padding-top: 30px;
    width: 100%;
    height: 700px;
    background-color: #bfbfbf;
}
.xgzs .h h1{
    text-align: center;
    font-size: 30px;
}
.xgzs .h p{
    color: rgb(104, 105, 105);
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.l_img{
    float: left;
    width: 300px;
    height: 500px;
    margin-right: 15px;
    background-color: #515151;
    overflow: hidden;
}
.l_img:hover{
    transition: all .5s linear;
    opacity: .6;
}
.z_img{
    float: left;
    margin-right: 15px;
}
.r_img:hover{
    transition: all .5s linear;
    opacity: .6;
}
.r_img{
    float: left;
    width: 300px;
    height: 500px;
    background-color: #515151;
    overflow: hidden;
}
.z_img .zt:hover{
    transition: all .5s linear;
    opacity: .6;
}
.z_img .zt{
    width: 300px;
    height: 240px;
    background-color: #515151;
    margin-bottom: 15px;
    overflow: hidden;
}
.z_img .zb:hover{
    transition: all .5s linear;
    opacity: .6;

}
.z_img .zb{
    width: 300px;
    height: 240px;
    background-color: #515151;
    overflow: hidden;
}
.team{
    margin-top: 10px;
    padding-top: 30px;
    width: 100%;
    height: 700px;
}
.team .h h1{
    text-align: center;
    font-size: 30px;
}
.team .h p{
    color: rgb(104, 105, 105);
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.tp{
    height: 800px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.tp1{
    float: left;
    width: 300px;
    height: 400px;
    background-color: #bfbfbf;
    overflow: hidden;
}
.tp1:hover{
    opacity: .5;
    transition: all .5s linear;
}
.tp2:hover{
    opacity: .5;
    transition: all .5s linear;
}
.tp2{
    float: left;
    width: 300px;
    height: 400px;
    background-color: #bfbfbf;
    margin-top: 80px;
    overflow: hidden;
}
